{% extends 'homepage/base.htm' %}
{% block content %}
    <div class="continer">
        <div class="row d-flex justify-content-center">
            <div class="col-10">
                <div class="card mt-5">
                    <div class="card-body">
                        <h1 class="card-title">Blog Title</h1>
                        <h5 class="card-subtitle">By John Doe</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla eu feugiat turpis, eget dignissim sapien. Integer sem enim, lacinia at mollis ultrices, tempus quis erat. Donec dolor felis, vestibulum id feugiat eget, tempor elementum augue. Aliquam lobortis est non velit lobortis ornare. Integer nec quam hendrerit arcu suscipit efficitur eget eu eros. Morbi rutrum faucibus felis, a malesuada nunc accumsan sit amet.</p>
                    </div>
                </div>
            </div>
        </div>
    <div>
{% endblock content %}